{% extends "layouts/master.html" %}

{% load static %}
{% block content%}
<h1>Bienvenido {{ user.username | upper}}</h1>

<div class="container">
</div>

{% endblock%}
{% block extra_js %}
{% csrf_token %}
<script>
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    async function getBooks() {
      try {
        let res = await fetch('http://127.0.0.1:8000/api/libros/');
        let data = await res.json();
        myData = data;

        for (let libro of data) {
          
          let image_portada = (libro.portada!=null)? libro.portada.url:"http://127.0.0.1:8000/static/assets/images/users/no-image.jpg"
          
          let content = 
          "<div class='col-md-3'>"+
            "<div class='panel panel-default'>"+
              "<div class='panel-body profile'>"+
                "<div class='profile-image'>"+
                  "<a><img style='' src='"+image_portada+"' alt='"+libro.nombre+"' /></a>"+
                "</div>"+
                "<div class='profile-data'>"+
                  "<div class='profile-data-name'>"+libro.nombre+"</div>"+
                  "<div class='profile-data-title'>"+libro.nombre+"</div>"+
                "</div>"+
              "</div>"+
              "<div class='panel-body'>"+
                "<div class='contact-info'>"+
                  "<div class='col-md-6'>"+
                    "<p><small>Categoria</small><br />"+libro.categoria.nombre_categoria+"</p>"+
                    "<p><small>Publicado en:</small><br />"+libro.anio_publicacion+"</p>"+
                    "<p><small>Stock:</small><br />"+libro.stock+"</p>"+
                  "</div>"+
                  "<div class='col-md-6'>"+
                    "<p><small>Editorial</small><br />"+libro.editorial.nombre+"</p>"+
                    "<p><small>Autor</small><br />"+libro.autor.first_name +" "+ libro.autor.last_name +"</p>"+
                  "</div>"+
                "</div>"+
                "<a href='' onclick='myFunction("+libro.id+","+libro.stock+")' class='btn btn-primary'><span class='fa fa-check'></span>Prestar</a>"+
              "</div>"+
            "</div>"+
          "</div>"
          $('.container').append(content);
        }
      } catch (error) {
        console.log(error);
      }
    }
    getBooks();

    function myFunction(id,stock) {
      
      //primero: vas a preguntar si tiene stock.
      if(stock>0){
        getLibroPrestado(id,stock);
        //alert("Agregado: "+id+" y stock: "+stock);
        
        //segundo: vas a checar si no tiene prestado el libro.

        //tecero: restar 1 al stock del libro.
        //cuarto: lanzar un modal para ingresar la fecha de entrega del libro.
        //cuarto: agregar el libro a mis libros prestados(DetallePrestamo).
        //fin.
      }
      else{
        alert("El libro no se puede prestar porque no cuenta con stock.");
      }
      
       
    }


    async function getLibroPrestado(libro_id,stock) {
      try {
        let flag = false;
        
        
        let res = await fetch('http://127.0.0.1:8000/api/libro-prestado/');
        let data = await res.json();
        for ( let detalle of data){
          if (detalle.libro==libro_id && detalle.prestador=={{user.id}}){
            flag=true;
          }
        }
        if (!flag){
            alert("Ya esta asociado el libro a este prestador");
        }else{
            let user_id = {{user.id}}
            fetch("http://127.0.0.1:8000/api/libro-prestado/", {
                    method: 'POST',
                    credentials: "same-origin",
                    headers:{
                      'X-CSRFToken': csrftoken,
                      'Accept': 'application/json',
                      'Content-Type': 'application/json',
                      'X-Requested-With': 'XMLHttpRequest'
                    },
                    body: JSON.stringify({
                      'prestador':user_id,
                      'libro':libro_id,
                      'activo':true
                    })
                
              }).then(function(response) {
                  alert(response);
                  return response.json();
              }).then(function(data) {
                  console.log("Dato:", data);
                  alert(data);
              }).catch(function(ex) {
                  console.log("Catch con:", ex);
                  alert(ex);
              });
              /* 
              let new_stock = parseInt(stock) - 1;
              console.log(new_stock);
              let url = "http://127.0.0.1:8000/api/libros/"+libro_id+"/";
              console.log(url);
              
              
              fetch(url, {
                    method: 'PUT',
                    credentials: "same-origin",
                    headers:{
                      'X-CSRFToken': csrftoken,
                      'Accept': 'application/json',
                      'Content-Type': 'application/json',
                      'X-Requested-With': 'XMLHttpRequest'
                    },
                    body: JSON.stringify({
                      'stock':new_stock
                    })
                
              }).then(function(response) {
                  return response.json();
              }).then(function(data) {
                  console.log("Dato:", data);
              }).catch(function(ex) {
                  console.log("Fallo con:", ex);
                  alert("ultimo fetch");
              });
              */
              alert("¡El libro ahora es tuyo!");

              
        }
      } catch (error) {
          console.log(error);
          alert("Error");
      }
    }
    

</script>
{% endblock extra_js %}